# node / build
node_modules/
dist/
build/
coverage/
*.tsbuildinfo
.turbo/

# logs / tmp
*.log
.tmp/
temp/
*.tmp

# IDE
.idea/
.vscode/
.DS_Store

# npm artifacts
*.tgz

# packages
packages/*/node_modules/
packages/*/dist/
packages/*/coverage/
packages/*/tsconfig.tsbuildinfo

# env
.env
.env.*
